@font-face {
	font-family: Poppins-Regular;
	src: url('fonts/Poppins-Regular.ttf');
}
@font-face {
	font-family: Poppins-Bold;
	src: url('fonts/Poppins-Bold.ttf');
}
@font-face {
	font-family: UI-Bold;
	src: url('fonts/Segoe-UI-Bold.woff');
}
* {
	font-family: "calibri";
	/*font-family: 'PT Serif', serif;*/
}
body{ 
	/*position: relative;*/

}
.card{
	border: none;
}
.container{
	/*margin-top: 50px !important;*/
}
.wrapper{
	background-color: blueviolet;
}
.container-fluid, .container{
	max-width: 1200px !important;
	margin: auto;
}
#header{
	position: fixed;
	width: 100%;
	z-index: 100;
}
/*smart show and hide navbar*/
.smart-scroll{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}
.scrolled-down{
	transform:translateY(-100%); transition: all 0.4s ease-in-out;
}
.scrolled-up{
	transform:translateY(0); transition: all 0.4s ease-in-out;
}
/*end*/

/*caption landing page*/
.landing-page .judul{
	font-size: 58px;
	font-family: Poppins-Bold;
}
.landing-page .judul a{
	font-size: 58px;
	font-family: Poppins-Bold;
	color: coral !important;

}
/*end*/

/*nav*/
.navbar{
	/*background-color: #ADC2A9;*/
	background-color: #FFFFFF;
	z-index: 100;
}
.navbar-nav{
	margin-right: 10px;
}
.navbar-brand{
	cursor: default;
	display: inline-flex;
}
.navbar-brand img{
	width: 50px;
	margin-right: 10px;

}
.navbar-brand{
	font-family: 'Poppins-Regular', sans-serif;
	font-style: italic;
	font-size: 30px;
	padding: 0;
	margin: 0;
}
.navbar-brand p{
	font-family: ZillaSlab-Medium;
	display: flex;
	align-items: center;
}
.nav-link{
	text-decoration: none;
	font-family: 'Poppins-Regular', sans-serif;
	padding-left: 15px !important;
	padding-right: 15px !important;
	color: #000 !important;
}
.nav-link:hover{
	/*box-shadow: 0px 4px 0px -2px coral;*/
}
.navbar-toggler{
	border: none;
}

/*show menu*/

.navbar-collapse{
	transition: 0.5s;
}
.navbar-collapse.collapse.show{
	margin-top: 5px;
	transition: 0.5s;
}
.navbar-collapse.collapse.show li a{
	padding-left: 10px;
	border-radius: none;
}
.navbar-collapse.collapse.show li a:hover{
	color: #000 !important;
	box-shadow: none;
	background-color: coral;
	color: #FFFFFF !important;
}
.navbar-collapse.collapse.show li:hover{
	border-bottom: none;
}
.navbar-collapse.collapse.show .active{
	box-shadow: none !important;
}

/*end show menu*/
/*end nav*/

/*form*/
#form{
	padding-top: 20px;
	margin-bottom: 30px;
}
#form .col{
	border: 2px solid #F1F1F1;
	background-color: #FFFFFF !important;
	border-radius: 0px 50px 0px 50px;
	transition: 0.5s;
	box-shadow: 0px 20px 30px 0px rgba(0,0,0,0.3) !important;
}
#form .col:hover{
	transition: 0.5s;

}
#form h3, #form h2{
	font-family: Poppins-Regular;
}
#form img{
	width: 30%;
}
#form .btn{
	background-color: coral;
	border: none;
}
#form .btn:hover{
	background-color: #E87449;
}
#form .form-control{
	background-color: #FBFBFB;
}
.label-form i{
	font-size: 60px;
}
.label-form, .label-form a{
	font-size: 11px;
	text-decoration: none;
}
#form label{
	font-weight: 600;
}
input:focus, .navbar-toggler:focus, .accordion-button:focus, textarea, .btn-close:focus, select:focus{
	box-shadow: none !important;
	border: 1px solid #E1E1E1 !important;
}
.btn:focus{
	box-shadow: none !important;

}
/*end form*/

/*kontak*/
#kontak{
	position: fixed;
	bottom: 25px;
	right: 0px;
	z-index: 5;
	
}
#wa{
	font-size: 35px;
	border-radius: 50%;
	padding: 0px 10px 0px 10px;
	color: #FFFFFF;
	box-shadow:  0px 0px 6px 0px rgba(0, 0, 0, 0.3);
	background-color: #01F118;
	cursor: pointer;
	transition: 0.5s;

}
#kontak .keterangan.wa{
	background-color: #B1FA9B;
	text-align: center;
	border-radius: 20px;
	display: none;
	transition: 0.5s;
}
#wa:hover{
	transform: scale(1.1);
	transition: 0.5s;

}
/*end kontak*/

/*promo*/
#promo{
	font-size: 14px;
}

.judul-promo, .judul-produk{
	font-size: 30px;
	font-family: 'Poppins-Bold';
}
.judul-promo a{
	font-size: 30px;
	font-family: 'Poppins-Bold';
	color: coral;
}

/*footer*/
#footer h5{
	font-family: 'UI-Bold';
}
#footer .bungkus{
	background-color: coral;
}
#footer .bungkus-2{
	background-color: #1E1E1E;

}
#footer ul{
	padding-left: 0;

}
#footer ul li{
	list-style: none;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}
.contact-us li a{
	color: #FFFFFF !important;
	text-decoration: none;
	color: #000;
	/*font-size: 18px;*/
}
.contact-us li a:hover{
	color: #C1C1C1 !important;
}
#footer .btn{
	transition: 0.5s;
}
#footer .btn:hover{
	transform: scale(1.1);
	transition: 0.5s;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
#footer p{
	margin-bottom: 0;
}
/*end footer*/

/*lokasi*/
iframe{
	margin-top: 20px;
	width: 100%;
	height: 100%;
	min-height: 600px;
	margin-bottom: 20px;
}
/*tombol pesan*/
.tombol-pesan{
	font-size: 18px;
	font-weight: 700;
	padding: 10px 15px 10px 15px;
	border: 2px solid coral;
	background-color: #FFFFFF;
	color: coral;
	transition: 0.6s;
}
.tombol-pesan:hover{
	color: #FFFFFF;
	background-color: coral;
	transition: 0.6s;
}
/*end*/

/*about*/
#about .col-kanan{
	position: relative; 
	right: 10%; 
	background-color: 
	rgba(217, 217, 217, 0.8);
}
/*end about*/

/*slider*/

.slider{
	width: 300px !important;
} 

.lSPager.lSpg{
	display: none;
}

.cS-hidden {
	height: 1px;
	opacity: 0;
	filter: alpha(opacity=0);
	overflow: hidden;
}
/*end*/

.detail{
	color: coral;
	box-shadow: 0px 0px 0px 2px coral;
	padding: 5px 20px 5px 20px;
	transition: 0.5s;
}
.detail:hover{
	box-shadow: none;
	background-color: coral;
	color: #FFFFFF !important;
	transition: 0.5s;
}

.lSAction a{
	background-color: #919191;
	border-radius: 50%;
}

/*produk*/
.foto-produk img{
	max-height: 375.990px;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

#artikel .lain-nya a{
	color: white;
	background-color: coral;
	transition: 0.5s;
}
#artikel .judul-artikel p{
	font-family: UI-Bold;
	font-size: 18px !important;
}

#artikel .lain-nya{
	transition: 0.5s;
}
#artikel .lain-nya:hover{
	transform: scale(1.05);
	transition: 0.5s;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
}
#artikel .card img{
	max-height: 280px;
	object-fit: cover;

}
#artikel .card{
	transition: 0.5s;
}
#artikel .card:hover{
	transition: 0.5s;
	transform: scale(1.01);
	box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.3) !important;
	
}
/*#artikel .card{
	transition: 0.5s;
}
#artikel .card:hover{
	transform: scale(1.1);
	transition: 0.5s;
}*/
.modal-footer p{
	text-align: justify;
}

#info-produk .row .foto-produk-awal{
	width: 100%;
	border-radius: 50%;
	object-fit: cover;
}
#info-produk .caption{
	text-align: justify;
}
#info-produk h4, #info-produk h3, .modal-body .col-12.judul-artikel h1, .judul-sidebar-artikel p, .judul-artikel-detail{
	font-family: UI-Bold;
}

#info-produk .btn{
	position: relative;
}
#info-produk .btn .overlay-produk{
	position: absolute;
	top: 0;
	bottom: 0; 
	left: 0; 
	right: 0; 
	background-color: rgba(0, 0, 0, 0.5); 
	align-items: center; 
	justify-content: center; border-radius: 50%;
	opacity: 0;
	transition: 0.5s;
}
#info-produk .btn .overlay-produk a{
	font-size: 20px;
	font-family: UI-Bold;
}
#info-produk .btn .overlay-produk:hover{
	opacity: 1;
	transition: 0.5s;
}
.gradient{
	width: 100%; 
	padding: 30px;
	margin-top: 80px;
	background-color: coral;
	color: white;
}
.detail-produk{
	background-color: coral;
	color: white;
	/*border-radius: 10px;*/
	transition: 0.5s;
}
.detail-produk:hover{
	color: white;
	transition: 0.5s;
	border: 0;
	transform: scale(1.1);
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
}
#pesanModal .modal-body{
	/*background-image: url('img/background.jpg');*/
}
#pesanModal label{
	font-size: 20px;
}
nav .active{
	box-shadow: 0px 4px 0px -2px coral;
}
#carouselslide img{
	width: 100%;
	max-height: 600px;
	/*object-fit: cover;*/
}
#detail-artikel #sidebar-artikel{
	/*height: 100px !important;*/
}
figure{
	text-align: center !important;
}
figure img{
	width: 80%;
	max-height: 300px;
}
#sidebar-artikel a .box-side{
	box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.1) !important;
	transition: 0.5s;
}
#sidebar-artikel a .box-side:hover{
	transition: 0.5s;
	transform: scale(1.02);
	box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2) !important;
}



/*responsive layar*/
@media screen and (min-width: 770px) and (max-width: 1024px){
	.landing-page .judul{
		font-size: 35px;
	}
	.landing-page .subjudul{
		font-size: 12px;
	}
	.landing-page .judul a{
		font-size: 35px;
	}
	#form img{
		width: 50%;
	}
	#artikel .card img{
		max-height: 250px;
	}
}

@media screen and (max-width: 769px){
	iframe{
		min-height: 900px;
	}
	.landing-page .judul{
		font-size: 33px;
	}
	.landing-page .subjudul{
		font-size: 13px;
	}
	.landing-page .judul a{
		font-size: 33px;
	}
	.segitiga{
		border: 42px solid;
		width: 0; 
		height: 0; 
		border-color: #FF0048 transparent transparent #FF0048;
		position: absolute;
		top: 0;
	}
	.foto-promo .diskon{
		font-size: 12px;
	}
	.foto-promo .card-title{
		font-size: 12px;
	}
	.card-body .card-text.ket{
		font-size: 0.8rem;
	}
	#form img{
		width: 50%;
	}
	
	#detail-artikel .judul-sidebar-artikel{
		font-size: 12px !important;
	}
	.active{
		box-shadow: none !important;
	}
	#carouselslide img{
		max-height: 350px;
	}
	#artikel .card img{
		max-height: 180px;
	}
	

@media screen and (max-width: 578px){
	#footer h5{
		font-size: 18px !important;
	}
	iframe{
		min-height: 700px;
	}
	#footer p{
		font-size: 18px;
		margin-bottom: 0;
	}
	#kontak{
		/*left: 0;*/
	}
	.landing-page .judul{
		font-size: 30px;
	}
	.landing-page .subjudul{
		font-size: 14px;
	}
	.landing-page .judul a{
		font-size: 30px;
	}
	.tombol-pesan{
		font-weight: 700;
		padding: 5px 10px 5px 10px;
		font-size: 22px;
		border: 1px solid coral;
		font-weight: 500;
	}
	.segitiga{
		border: 45px solid;
		width: 0; 
		height: 0; 
		border-color: #FF0048 transparent transparent #FF0048;
		position: absolute;
		top: 0;
	}
	.foto-promo .diskon{
		font-size: 13px;
	}
	.card-body .card-title{
		font-size: 20px;
	}
	.slider{
		width: 350px !important;
	}
	.detail{
		font-size: 20px;
	}
	#promo table img{
		width: 50px;
	}
	#promo table{
		font-size: 9px;
	}
	.gradient{
		font-size: 12px;
	}
	
	.detail-produk{
		box-shadow: 0px 0px 0px 1px coral;
	}
	#form img{
		width: 80%;
	}
	.active{
		box-shadow: none !important;
	}
	#detail-artikel .judul-sidebar-artikel{
		font-size: 19px !important;
	}
	#carouselslide img, #artikel #carouselslide img{
		max-height: 200px;
	}
	.foto-artikel{
		/*padding-left: 0;*/
	}
	.judul-promo, .judul-produk{
		font-size: 20px;
	}
	.judul-promo a{
		font-size: 20px;
	}
	#about .col-kanan{
		position: static !important;
	}
	#artikel .card img{
		max-height: 230px;
	}
}